/**************************
* COLORS
**************************/

$c-primary: #f00;
$c-interact: #2ecc71;

$c-danger: #c0392b;

$c-disabled: #aaa;
$c-disabled-i: #999;

$c-rep: #F44848;
$c-dem: #4775F6;

$c-white: #fff;
$c-black: #222;

$c-twitter: #4099FF;
$c-twitter-i: #fff;

/**************************
* FONTS
**************************/

//@import 'https://fonts.googleapis.com/css?family=Montserrat'; //TODO: fix css loader issue with google fonts

$f-main: 'Montserrat', sans-serif;
$f-mono: 'Inconsolata', monospace;

/**************************
* LAYOUT
**************************/

$l-gutter: 20px;