/**************************
* COLORS
**************************/
/**************************
* FONTS
**************************/
/**************************
* LAYOUT
**************************/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  padding: 0; }

.app {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: url(../img/startscreen-bg.jpg) no-repeat center/cover; }
  .app:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FF0000;
    mix-blend-mode: multiply; }
  .app:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1B3768;
    mix-blend-mode: lighten; }
  .app__content {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-around; }
  .app__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .app__logo__img {
      width: 80%;
      height: auto;
      transform: translateX(7%); }
  .app__download {
    margin-top: 40px; }

.party-card {
  flex-basis: 30%;
  background: #fff;
  border-radius: 13px;
  padding: 6.66667px;
  display: flex;
  transition: transform 0.5s cubic-bezier(0.655, 0.13, 0.265, 1.55), all 0.3s ease-in-out; }
  .party-card:after {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .party-card__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: solid 4px #4775F6;
    color: #4775F6;
    border-radius: 10px;
    flex: 1 0 100%;
    padding: 10px;
    padding-bottom: 0; }
    .republicain .party-card__inner {
      color: #F44848;
      border-color: #F44848; }
  .party-card__leader {
    width: 70%;
    margin: 0;
    font-size: 5vw;
    line-height: 1em; }
    .democrats .party-card__leader {
      margin-left: auto;
      text-align: right; }
  .party-card__meta {
    font-size: 3vw;
    padding-left: 25%;
    text-align: right; }
    .republicain .party-card__meta {
      text-align: left;
      padding-left: 1%;
      padding-right: 40%; }
    .party-card__meta small {
      font-size: 14px; }
    .party-card__meta label {
      font-size: 10px; }
  .party-card__party {
    font-size: 2.5vw;
    display: block;
    text-transform: capitalize; }
  .party-card__img {
    position: absolute;
    bottom: 0;
    left: -20%;
    margin-bottom: -2px;
    font-size: 0;
    width: 100%;
    height: auto; }
    .party-card__img img {
      display: inline-block;
      width: 70%; }
    .republicain .party-card__img {
      left: auto;
      right: -8%;
      text-align: right; }
