<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

  <!-- bower:css -->
  <link rel="stylesheet" href="css/vendors.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- endinject -->
</head>
<body>
  <div id="app" class="app">
    <div class="app__content">
      <article class="party-card democrats">
        <div class="party-card__inner">
          <header class="party-card__header">
            <h1 class="party-card__leader">Hillary Clinton</h1>
            <p class="party-card__meta"><strong class="party-card__party">Democrats nominee</strong><small><%= clintonScore %> <label>meters hoisted</label></small></p>
          </header>
          <div class="party-card__img">
            <img src="img/party-clinton.svg" alt="">
          </div>
        </div>
      </article>
      <div class="app__logo">
        <img class="app__logo__img" src="img/logo-the-hoist-white.svg" alt="The Hoist">

        <div class="app__download">
          <a href="https://www.stores-et-rideaux.com/index.php" target="_blank"><img src="img/app-store.png" srcset="img/app-store@2x.png 2x" alt="Get in on the App Store"></a>
          <a href="https://www.stores-et-rideaux.com/index.php" target="_blank"><img src="img/google-play.png" srcset="img/google-play@2x.png 2x" alt="Get in on Google Play"></a>
        </div>
      </div>
      <article class="party-card republicain">
        <div class="party-card__inner">
          <header class="party-card__header">
            <h1 class="party-card__leader">Donald Trump</h1>
            <p class="party-card__meta"><strong class="party-card__party">Republican nominee</strong><small><%= trumpScore %> <label>meters hoisted</label></small></p>
          </header>
          <div class="party-card__img">
            <img src="img/party-trump.svg" alt="">
          </div>
        </div>
      </article>
    </div>
  </div>

  <!-- bower:js -->
  <script src="js/vendors.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="js/main.js"></script>
  <!-- endinject -->
</body>
</html>