@import "partials/variables";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: url(../img/startscreen-bg.jpg) no-repeat center/cover;

  &:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FF0000;
    mix-blend-mode: multiply;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1B3768;
    mix-blend-mode: lighten;
  }

  &__content {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      width: 80%;
      height: auto;
      transform: translateX(7%);
    }
  }

  &__download {
    margin-top: 40px;
  }
}

.party-card {
  flex-basis: 30%;
  background: $c-white;
  border-radius: 13px;
  padding: $l-gutter/3;
  display: flex;
  transition: transform 0.5s cubic-bezier(0.655, 0.130, 0.265, 1.550), all 0.3s ease-in-out;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: solid 4px $c-dem;
    color: $c-dem;
    border-radius: 10px;
    flex: 1 0 100%;
    padding: $l-gutter/2;
    padding-bottom: 0;

    .republicain & {
      color: $c-rep;
      border-color: $c-rep;
    }
  }

  &__header {

  }

  &__leader {
    width: 70%;
    margin: 0;
    font-size: 5vw;
    line-height: 1em;

    .democrats & {
      margin-left: auto;
      text-align: right;
    }

  }

  &__meta {
    font-size: 3vw;
    padding-left: 25%;
    text-align: right;

    .republicain & {
      text-align: left;
      padding-left: 1%;
      padding-right: 40%;
    }

    small {
      font-size: 14px;
    }

    label {
      font-size: 10px;
    }
  }

  &__party {
    font-size: 2.5vw;
    display: block;
    text-transform: capitalize;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: -20%;
    margin-bottom: -2px;
    font-size: 0;
    width: 100%;
    height: auto;

    img {
      display: inline-block;
      width: 70%;
    }

    .republicain & {
      left: auto;
      right: -8%;
      text-align: right;
    }
  }
}